<%- include("../partials/header.ejs") %>
<body>
    <%- include("../partials/navbar.ejs") %>
    
    <div class="container">
        <img src="/img/NotFound.png">
        <hr>
        <h1>Ops, não encontramos nenhuma pergunta!</h1>
        <hr>
<%- include("../partials/footer.ejs") %>